{% extends 'base.html' %} {% load static %} {%block title%}Accueil{%endblock%}
{%block content%}
<link rel="stylesheet" href="{% static 'css/accueil.css' %}" />
<link
  href="https://cdn.jsdelivr.net/npm/daisyui@5"
  rel="stylesheet"
  type="text/css"
/>

<section class="hero">
  <div class="container">
    <div class="d-flex flex-column align-items-start justify-content-center">
      <h1>Road To <span>Dakar</span></h1>
      <p>Suivez les coulisses des Jeux Olympiques de la Jeunesse 2026</p>
    </div>
  </div>
</section>
{%endblock%}
